
body, html {
    height: 100%;
    margin: 0;
    padding-top: 30px;

}

.home-img{
    position:absolute;
    z-index:0;
    left:0;
    top:0;
    width:100%;
    height:100%;
}


.bg {
    /* The image used */
    width: 100%;
    height: 100%;
}

.h-widget{
    margin-top: 17px;
}

.h2-widget{
    margin-top: 5px;
}



input.form-control ,textarea.form-control, select.form-control{
    margin-bottom: 5px;
}

.navbar-bottom-btn{
    padding-bottom: 70px;

}

nav.navbar.navbar-default.navbar-fixed-top
{
    padding-right: 15px;
}
nav.navbar.navbar-default.navbar-fixed-bottom.nav-widget{
    margin-top:30px;
}


.widget > img{
    width:100%;


}
.widget{
    margin-bottom: 10px;
}
.container-fluid{
    width:100%;
}

.wd-widget-toolbar{
    position: absolute;
    right:15px;
    background: white;
    opacity:0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.widget-choose{
    width: 100%;
    padding-left: 15px;
    margin-bottom: 10px;
}


.
