<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="#!/user/search">Movie</a>
        </div>
        <div>

            <div class="collapse navbar-collapse navbar-right" id="myNavbar" >
                <ul class="nav navbar-nav">
                    <li><a ng-hide="model.checkEmpty(model.user)" href="#!/user/profile" >{{model.demo.username}}</a></li>
                    <li><a ng-hide="model.checkEmpty(model.user)" ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="checkNavbar" >
                <ul class="nav navbar-nav">
                    <li><a ng-if="model.checkEmpty(model.user)" data-toggle="modal" data-target="#myModal" >Login</a></li>
                    <li><a ng-if="model.checkEmpty(model.user)" data-toggle="modal" data-target="#regModal">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade bs-example-modal-sm" data-backdrop="false"
     id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content mdlc">
            <div class="modal-header">
                <button type="button" class="close" ng-click="model.eraseData()"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span></button>
                <h2 class="modal-title">Welcome </h2>
                <div class="alert alert-dismissable alert-danger" ng-show="model.xerror">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    {{model.xerror}}
                </div>
            </div>
            <div class="modal-body container-fluid">
                <div class="form-group">
                    <input type="text" ng-model="model.user.username"
                           class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"
                           ng-model="model.user.password" placeholder="Password">
                </div>
                <a class="btn btn-success btn-block" ng-click="model.login(model.user)">Login</a>
                <a href="/api/auth/facebook" class="btn btn-primary btn-block">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" data-backdrop="false"
     id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content mdlc">
            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="model.eraseData()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title mdlt" id="regModalLabel">Not a member yet?</h3>
                <div class="alert alert-dismissable alert-danger" ng-show="model.uerror">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    {{model.uerror}}
                </div>
            </div>
            <div class="modal-body container-fluid">
                <form name="form1">
                    <div class="form-group">
                        <input type="text" ng-model="model.user.username" name="username"
                               class="form-control" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="model.user.firstname"
                               class="form-control" placeholder="Firstname" >
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="model.user.lastname"
                               class="form-control" placeholder="Lastname" >
                    </div>
                    <div class="form-group">
                        <input type="email" ng-model="model.user.email"
                               class="form-control" placeholder="Email" >
                    </div>
                    <div class="form-group">
                        <input type="tel" ng-model="model.user.phone"
                               class="form-control" placeholder="Phone number" >
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="model.user.password" name="Password"
                               class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="model.user.password2" name="CPassword"
                               class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" ng-click="model.register(model.user)">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-8 bottomBody">
        <div class="moviePoster image img-responsive">
            <img id="poster" ng-src="{{model.generateUrl(model.movie.poster_path)}}" class="demo">
        </div>
        <div class="panel-body" id="movieBody">
            <div >
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="pill" href="movie.view.client.html#plot">Plot</a></li>
                    <li><a data-toggle="tab" href="movie.view.client.html#cast">Cast</a></li>
                    <li><a data-toggle="tab" href="movie.view.client.html#criticreviews">Critic Reviews</a></li>
                    <li><a data-toggle="tab" href="movie.view.client.html#userreviews">User Reviews</a></li>
                </ul>

                <div class="tab-content">
                    <div id="plot" class="tab-pane fade in active">
                        <br>
                        <p>{{model.movie.overview}}</p>
                    </div>
                    <div id="cast" class="tab-pane fade">
                        <br>
                        <li ng-repeat="actor in model.cast|limitTo:10">
                            {{actor.character}}
                        </li>
                    </div>
                    <div id="criticreviews" class="tab-pane fade">
                        <br>
                        <p>Some content in menu 2.</p>
                    </div>
                    <div id="userreviews"  class="tab-pane fade">
                        <br>
                        <div ng-repeat="review in model.reviews" class="panel-footer" >
                            <div class="row" >
                                <div class="col-sm-2"  >
                                    <!--style="width: 10%; padding-right: 70px"-->
                                    <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" height="80px" width="80px">
                                </div>
                                <div class="col-sm-10 pull-left">
                                    <div >{{review.title}}</div>
                                    <div> BY <a href="#!/user/profile/{{review._user}}"> {{review.user_name}} </a></div>
                                    <div ><h3>{{review.description}}</h3></div>
                                </div>
                            </div>


                        </div>
                        <!--<li><b>{{review.title}}</b></li>-->
                        <!--<li>{{review.description}}</li>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <h1>{{model.movie.original_title}}</h1>
        </div>
        <div class="panel-footer">
            <div class="panel-body" >
                <h4><b>Genre: </b></h4>
                <li ng-repeat="genre in model.movie.genres" >
                 {{genre.name}}
                </li>
                <div class="runtime">
                    <h4><b>Runtime:</b><br/></h4>
                    {{model.movie.runtime}} mins
                </div>
                <div class="ratings">
                    <h4><b>Ratings:</b></h4>
                    <div>
                        <span id="star">☆</span>
                        {{model.movie.vote_average}}
                    </div>
                </div>
                <div class="released">
                    <h4><b>Released:</b><br/></h4>
                    {{model.movie.release_date}}
                </div>
                <div class="language">
                    <h4><b>Languages:</b><br/></h4>
                    <li ng-repeat="language in model.movie.spoken_languages" >
                        {{language.name}}
                    </li>
                </div>

            </div>
        </div>
        <div id="review" >
            <div class="panel-footer container-fluid" >
                <h4><b>Write a Review:</b></h4>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Please enter title of the review" ng-model="model.review.title">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Please enter the review" ng-model="model.review.description"></textarea>
                </div>
                <a class="btn btn-success"  ng-click="model.submit(model.review)">Submit</a>
                <!--<a class="btn btn-success" ng-click="model.submit(model.review)">fghfght</a>-->
            </div>

        </div>
    </div>
    <div class="col-sm-4" ng-show="model.urls.length > 0">
        <div class="panel container-fluid movieDetail">
            <div class="panel-body trailer ">
                <h4><b>Trailers:</b></h4>
                <iframe ng-repeat="url in model.urls" id="trailer" width="100%" height="200px" frameborder="0" src="{{url}}" allowfullscreen ></iframe>
            </div>
        </div>
        <div class="panel container-fluid movieDetail">
            <div class="panel-body trailer ">
                <h4><b>Similar Movies:</b></h4>
                <a ng-repeat="simUrl in model.simMovies" href="#!/user/movie/{{simUrl.id}}">
                    <img ng-src="{{simUrl.url}}" width="100%" height="200px" style="margin-bottom: 10px">
                </a>
            </div>
        </div>
    </div>
</div>
</div>


