
<div class="container-fluid" xmlns:background="http://www.w3.org/1999/xhtml">
    <div class="panel">
        <div class="panel-heading" >
            <div style="background: rgba(10,10,10,0.76)">
                <div class="col-sm-6" >
                    <img style="margin-top: 15px" ng-src={{model.movie.Poster}} height="500px" width="100%">
                </div>
                <div class="col-sm-6">
                    <div style="margin-top: 15px" class="panel panel-info">
                        <div class="panel-heading">
                            <h1>{{model.movie.Title}}</h1>
                        </div>
                        <div class="panel-body">
                            <h4>Genre:</h4>
                            {{model.movie.Genre}}
                            <!--<div class="star-ratings-css">-->
                                <!--<div class="star-ratings-css-top " style="width: 30%">-->
                                    <!--<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>-->
                                <!--<div class="star-ratings-css-bottom">-->
                                    <!--<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>-->
                            <!--</div>-->
                            <div class="cost pull-right">
                                <h4><b> Ratings</b> </h4>
                                Average<br/>
                                $150 for two people.
                            </div>
                            <div class="prange">
                                <h4>Released:</h4>
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: 30%">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            </div>
                            <div class="addr">
                                <h4><b>Address:</b><br/></h4>
                                sdfghfdsfg
                            </div>
                            <div class="marks">
                                <div>
                                    <div >
                                        <h4 > <span class="glyphicon glyphicon-ok icon-success"></span>
                                            Delivery </h4>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h4 > <span class="glyphicon glyphicon-ok icon-success"></span>
                                            Reservation </h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div >
                <h3>Tabs</h3>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Cast</a></li>
                    <li><a href="#">User Reviews</a></li>
                    <li><a href="#">Critic Reviews</a></li>
                </ul>
                <br>
                <p>{{model.movie.Plot}}</p>
            </div>
        </div>
        <div class="panel-footer">
            <h3>Trailers:</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="vendor/images/widget-img.jpg" target="_blank">
                            <img src="vendor/images/widget-img.jpg" alt="Lights" style="width:100%">
                            <div class="caption">
                                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="vendor/images/widget-img.jpg" target="_blank">
                            <img src="vendor/images/widget-img.jpg" alt="Nature" style="width:100%">
                            <div class="caption">
                                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="vendor/images/widget-img.jpg" target="_blank">
                            <img src="vendor/images/widget-img.jpg" alt="Fjords" style="width:100%">
                            <div class="caption">
                                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>