<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width , initial-scale=1">
    <title>Widget-Chooser</title>
    <link href="../../../vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>
<body class="body-cust">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html" class="navbar-link active">
                     <span class="glyphicon glyphicon-chevron-left">
                     </span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>

    </div>

</nav>
<div class="container-fluid">


    <a href="widget-heading.view.client.html">
        <div class="widget-choose "> Header </div>
    </a>
    <a href="widget-youtube.view.client.html">
        <div class="widget-choose "> YouTube</div>
    </a>
    <a href="widget-image.view.client.html">
        <div class="widget-choose "> Image</div>
    </a>
    <a href="widget-heading.view.client.html">
        <div class="widget-choose "> Link </div>
    </a>
    <a href="widget-youtube.view.client.html">
        <div class="widget-choose "> Video</div>
    </a>
    <a href="widget-image.view.client.html">
        <div class="widget-choose "> Button</div>
    </a>





</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                     <span class="glyphicon glyphicon-user">
                     </span>
            </a>
        </div>



    </div>
</nav>

</body>
</html>