
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html" class="navbar-link active">
                     <span class="glyphicon glyphicon-chevron-left">
                     </span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>

    </div>

</nav>
<div class="container-fluid">


    <a ng-click="model.addHeaderWidget(widget)" href="#!/">
        <div class="widget-choose "> Header </div>
    </a>
    <a ng-click="model.addYoutubeWidget()">
        <div class="widget-choose "> YouTube</div>
    </a>
    <a ng-click="model.addImageWidget()">
        <div class="widget-choose "> Image</div>
    </a>
    <a >
        <div class="widget-choose "> Link </div>
    </a>
    <a >
        <div class="widget-choose "> Video</div>
    </a>
    <a >
        <div class="widget-choose "> Button</div>
    </a>





</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                     <span class="glyphicon glyphicon-user">
                     </span>
            </a>
        </div>



    </div>
</nav>

