<div class="container-fluid">
<div id="carousel-example-generic" ng-controller="homeController" class="carousel slide" data-ride="carousel">


    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner " role="listbox">
        <div class="item active" >
            <div class="fill">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="fill2">
                <div class="carousel-caption"></div>
            </div>

        </div>
        <form method = post>
            <div class="input-group container-fluid" id="searchBar" >
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search for movie by title">

                <span class="input-group-btn">
            <button ng-click="model.search(searchText)" class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
            </div>

        </form>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="movieDisplay row container-fluid  panel thumbnail" id="searchBody" style="border: solid 2px black" >
        <div class="panel-heading">Search Results</div>
        <div class="movies col-sm-6 col-md-4 panel-body" ng-repeat="movie in model.movies">
            <span class="label label-default pull-right">Release: {{movie.release_date}}</span>
            <div class="panel-footer">
            <div class="caption"  >
                <a ng-click="model.selectedMovie(movie.id)">
                <h3 class="ng-binding" id="movieHeading" >{{movie.original_title}}</h3>
                </a>
            </div>
            <a ng-click="model.selectedMovie(movie.id)">
                <img class="image img-responsive container-fluid"
                     id="searchImage"
                     ng-src="{{model.generateUrl(movie.poster_path)}}" />
                    <!--height="200px"-->
                <!--width="100%" height="200px" style="max-height: 350px"-->
            </a>
            </div>
        </div>
    </div>


    <!--<div class="thumbnail">-->
        <!--<span class="label label-default pull-right ng-binding">Release: 2017-05-30</span>-->
        <!--<a ui-sref="details({movieId: movie.id})" href="#/details/297762">-->
            <!--<div class="caption">-->
                <!--<h3 class="ng-binding">Wonder Woman</h3>-->
            <!--</div>-->
            <!--<img class="img-responsive" ng-src="http://image.tmdb.org/t/p/original/hA5oCgvgCxj5MEWcLpjXXTwEANF.jpg" src="http://image.tmdb.org/t/p/original/hA5oCgvgCxj5MEWcLpjXXTwEANF.jpg">-->
        <!--</a>-->
        <!--<div class="caption">-->
            <!--<h5 class="ng-binding">An Amazon princess comes to ...</h5>-->
        <!--</div>-->
        <!--<hr class="nomargin">-->
        <!--<div class="caption">-->
            <!--<h5 class="text-muted ng-binding">-->
                <!--#Action #Adventure #Fantasy</h5>-->
        <!--</div>-->
    <!--</div>-->



    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">Home</a>
            </div>
            <div>
                <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a data-toggle="modal" data-target="#myModal">Login</a></li>
                        <li><a data-toggle="modal" data-target="#regModal">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</div>
</div>

<div class="modal fade bs-example-modal-sm" data-backdrop="false"
     id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content mdlc">
            <div class="modal-header">
                <button type="button" class="close" ng-click="model.eraseData()"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span></button>
                <h2 class="modal-title">Welcome </h2>
                <div class="alert alert-dismissable alert-danger" ng-show="model.xerror">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    {{model.xerror}}
                </div>
            </div>
            <div class="modal-body container-fluid">
                <div class="form-group">
                    <input type="text" ng-model="model.user.username"
                           class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"
                           ng-model="model.user.password" placeholder="Password">
                </div>
                <a class="btn btn-success btn-block" ng-click="model.login(model.user)">Login</a>
                <a href="/api/auth/facebook" class="btn btn-primary btn-block">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" data-backdrop="false"
     id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content mdlc">
            <div class="modal-header">
                <button type="button" class="close"
                        ng-click="model.eraseData()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title mdlt" id="regModalLabel">Not a member yet?</h3>
                <div class="alert alert-dismissable alert-danger" ng-show="model.uerror">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    {{model.uerror}}
                </div>
            </div>
            <div class="modal-body container-fluid">
                <form name="form1">
                    <div class="form-group">
                        <input type="text" ng-model="model.user.username" name="username"
                               class="form-control" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="model.user.firstname"
                               class="form-control" placeholder="Firstname" >
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="model.user.lastname"
                               class="form-control" placeholder="Lastname" >
                    </div>
                    <div class="form-group">
                        <input type="email" ng-model="model.user.email"
                               class="form-control" placeholder="Email" >
                    </div>
                    <div class="form-group">
                        <input type="tel" ng-model="model.user.phone"
                               class="form-control" placeholder="Phone number" >
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="model.user.password" name="Password"
                               class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="model.user.password2" name="CPassword"
                               class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" ng-click="model.register(model.user)">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

