<div class="container-fluid">
<div id="carousel-example-generic" ng-controller="homeController" class="carousel slide" data-ride="carousel">


    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner " role="listbox">
        <div class="item active" >
            <div class="fill">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <div class="fill2">
                <div class="carousel-caption"></div>
            </div>

        </div>
        <form method = post>
            <div class="input-group container-fluid" id="searchBar" >
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search for movie by title">

                <span class="input-group-btn">
            <button ng-click="model.search(searchText)" class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
            </div>

        </form>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="movieDisplay row" >
        <div class="movies col-xs-4" ng-repeat="movie in model.movies">
            <a ng-click="model.selectedMovie(movie.imdbID)">
                <img class="image container-fluid"
                     id="searchImage"
                     ng-src="{{movie.Poster}}"/>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">Home</a>
            </div>
            <div>
                <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#!/user/login">Login</a></li>
                        <li><a href="#!/user/register">Register</a></li>
                        <li><a href="#!/user/profile">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</div>
</div>