<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="#!/user/search">Home</a>
        </div>
        <div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#!/user/profile" class="visible-xs">Profile</a></li>
                    <li><a href="#!/user/following" class="visible-xs">Following</a></li>
                    <li><a href="#!/user/followers" class="visible-xs">Followers</a></li>
                    <li><a href="#!/user/reviews" class="visible-xs">Reviews</a></li>
                    <li><a href="#!/user/reviews" class="visible-xs">Reviews</a></li>
                    <li><a ng-if="model.user.role == model.admin" href="#!/user/admin" class="visible-xs">admin</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="column col-xs-2 hidden-xs"   style="background-color:black" >
            <div class="container-fluid">
                <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="100%">
            </div>
            <!--Navbar-->
            <ul class="nav nav-pills nav-stacked">
                <div class="container-fluid" style="text-align: left">
                    <ul class="nav nav-pills nav-stacked sideNav">
                        <li class="active"><a href="#!/user/profile">Profile</a></li>
                        <li><a href="#!/user/following">Following</a></li>
                        <li><a href="#!/user/followers">Followers</a></li>
                        <li><a href="#!/user/reviews">Reviews</a></li>
                        <li><a ng-if="model.user.role == model.admin" href="#!/user/admin">admin</a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class=" column col-xs-12 col-sm-8 ">
            <div class="container-fluid">
               <div class="panel panel-default">
                   <div class="panel-heading">
                    <div class="container-fluid">Profile
                        <a class="btn btn-success pull-right"  ng-click="model.followUser()" >Follow</a>
                        <a class="btn btn-danger pull-right" ng-click="model.unFollow()" >Unfollow</a>
                    </div>
                   </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input ng-model="model.user.username"
                                       type="text"
                                       class="form-control"
                                       id="username"
                                       placeholder="Username"
                                disabled>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email"
                                       ng-model="model.user.email"
                                       class="form-control"
                                       id="email"
                                       placeholder="alice@wonderland.com">
                            </div>
                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <input ng-model="model.user.firstname"
                                       type="text"
                                       class="form-control"
                                       id="first-name"
                                       placeholder="Alice">
                            </div>
                            <div class="form-group">
                                <label for="last-name">Last Name</label>
                                <input ng-model="model.user.lastname"
                                       type="text"
                                       class="form-control"
                                       id="last-name"
                                       placeholder="Wonderland">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
