body {
    overflow:scroll;
    /*padding-bottom: 50px;*/
}

.item{
    position:absolute;
    z-index:0;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
}

#carousel-example-generic{
    padding-top: 60px;
}

.image {
    /* The image used */
    width: 100%;
    height: inherit;
}

.carousel-inner{
    /*border: 10px solid purple;*/
    height:90vh;
    z-index: 0;
    text-align: center;

}
.fill {
    /*border: 10px solid black;*/
    height: inherit;
    overflow: hidden;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("http://cdn2us.denofgeek.com/sites/denofgeekus/files/2016/07/justice-league.jpg");
}
.fill2 {
    /*border: 10px solid black;*/
    height: inherit;
    overflow: hidden;
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("http://wallpapercave.com/wp/oIUHA4p.jpg");
}

#searchBar{
    position: absolute;
    top:85%;
    z-index: 99999;

    margin: 0 auto;


}

#searchImage{
    width: 100%;
    min-height: 200px;
    height: 342px;
    max-height: 400px;
    object-fit: cover;
}
#popularImage{
    width: 100%;
    min-height: 200px;
    height: 342px;
    max-height: 400px;
    object-fit: cover;
}

.movieDisplay{
    /*padding: 10px 0 10px 0;*/
    width: 100%;
}

.caption{
    overflow: hidden;
}

#searchBody{
    margin-top: 10px;
    margin-left: 1px;

}

#popularSearch{
    margin-top: 10px;
    margin-left: 1px;

}

#first{
    object-fit: contain;
    left: 0;
    top:0;
    padding-top: 10px;
    width: 100%;

}

#movieHeading{
    height: 40px;
    max-height: 52px;
    overflow: hidden;
    font-size: medium;
    width: 100%;
}
#popularHeading{
    height: 40px;
    max-height: 52px;
    overflow: hidden;
    font-size: medium;
    width: 100%;
}
#second{
    /*width: 100%;*/
    height: 85vh;

}

.column{
    height:100vh;
    padding-top:60px;
}

.sideNav
{
    margin-top: 20px;


}

.rowCol{
    margin-top: 10px;
}

.colRow{
    margin-top: 70px;
}

.movieDetail{
    margin-top: 60px;
}

#trailer{
    /*display: inline-block;*/
    float:left;
    margin:20px;
    border: none;
}

iframe {
    box-sizing: border-box;
}

.trailer{
   border: solid 2px gainsboro;
    background-color: lightgray;
}

#trailer{
    padding-right: 30px;
}

#poster{
    margin-top: 60px;
}

#movieBody{
    border-bottom: solid 2px lightgrey
}

.demo{
    width: 100%;
    height: 600px;
}

#star{
    color:gold;
    font-size: 35px;
}

.bottomBody{
    padding-bottom: 10px;
}