<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="#!/">Home</a>
        </div>
        <div>
            <div class="collapse navbar-collapse navbar-right" id="Navbar">
                <ul class="nav navbar-nav">
                    <li ><a href="#!/user/profile" class="visible-xs">Home</a></li>
                    <li ><a href="#!/user/following" class="visible-xs">Following</a></li>
                    <li ><a href="#!/user/followers" class="visible-xs">Followers</a></li>
                    <li class="active"><a href="#!/user/reviews" class="visible-xs">Reviews</a></li>
                    <li><a ng-click="model.logout()" >Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<div class="row">
    <div class="column col-xs-2 hidden-xs"   style="background-color:black" >
        <div class="container-fluid">
            <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="100%">
        </div>


        <!--Navbar-->
        <ul class="nav nav-pills nav-stacked">
            <!--<div class="container-fluid">-->

                    <div class="container-fluid" style="text-align: left">
                        <ul class="nav nav-pills nav-stacked sideNav">
                            <li ><a href="#!/user/profile">Profile</a></li>
                            <li><a href="#!/user/following">Following</a></li>
                            <li><a href="#!/user/followers">Followers</a></li>
                            <li class="active"><a href="#!/user/reviews">Reviews</a></li>
                        </ul>
                    </div>

            <!--</div>-->
        </ul>
    </div>

    <div class="container-fluid">
        <div class="column col-xs-12 col-sm-8" style="margin-top: 20px">
            <div class="media" ng-repeat="review in model.reviews | filter: model.query | orderBy: '-date'">
                <div class="col-xs-4 pull-right">
                    <a class="btn btn-danger hidden-xs" data-toggle="modal" data-target="#myModal" ng-click="model.sendData(review)">View</a>
                    <button class="btn btn-primary hidden-xs" ng-click="model.deleteReview(review._id)">Delete</button>
                    <a class="visible-xs" href="#/user/{{model.userID}}/reviews/{{review._id}}"><span class="glyphicon glyphicon-edit"></span> </a>
                    <a class="visible-xs" ng-click="model.deleteReview(review._id)"><span class="glyphicon glyphicon-remove"></span> </a>
                </div>
                <div class="media-left">
                    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="media-object" width="60px">
                </div>
                <div class="media-body hidden-xs">
                    <h4 class="media-heading"><a href="#!/movie/{{review.movieID}}">{{review.moviename}}</a></h4>
                        <small ><i>Posted on {{review.date}}</i></small>
                    <div >
                        <p>{{review.description}}</p>
                    </div>
                </div>
                <div class="media-body visible-xs" >
                    <h4 class="media-heading"><a href="#/home/{{model.userID}}/res/{{review.placeID}}">{{review.place}}</a></h4>
                    <div >
                        {{review.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="reviewtitle">
                        <h4 class="modal-title">Your review</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea id="reviewdes" ng-model="model.rev.description"
                                  placeholder="Description" rows="5" cols="50"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-success form-control"
                                ng-click="model.updateReview(model.rev)" data-dismiss="modal">Update</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger form-control"
                                ng-click="model.deleteReview(model.rev)" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myRModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="reviewtitle">
                    <h4 class="modal-title">Help us serve you better</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                        <textarea id="reviewdes1" ng-model="model.review.description"
                                  placeholder="Write your review here..." rows="10" cols="50"></textarea>
                </div>
                <a class="btn btn-success form-control"
                   ng-click="model.submit(model.review)" data-dismiss="modal">Submit</a>
            </div>
        </div>

    </div>
</div>















<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="#!/">Home</a>
        </div>
        <div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ><a href="#!/user/profile" class="visible-xs">Home</a></li>
                    <li ><a href="#!/user/following" class="visible-xs">Following</a></li>
                    <li class="active"><a href="#!/user/followers" class="visible-xs">Followers</a></li>
                    <li><a href="#!/user/reviews" class="visible-xs">Reviews</a></li>
                    <li><a ng-click="model.logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">

    <div class="row">
        <div class="column col-xs-2 hidden-xs"   style="background-color:black" >
            <div class="container-fluid">
                <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width="100%">
            </div>
            <!--Navbar-->
            <ul class="nav nav-pills nav-stacked">
                <div class="container-fluid" style="text-align: left">
                    <ul class="nav nav-pills nav-stacked sideNav">
                        <li ><a href="#!/user/profile">Profile</a></li>
                        <li><a href="#!/user/following">Following</a></li>
                        <li class="active"><a href="#!/user/followers">Followers</a></li>
                        <li><a href="#!/user/reviews">Reviews</a></li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class=" column col-xs-12 col-sm-8 ">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="container-fluid">Profile
                            <a class="btn btn-success pull-right"  ng-click="model.followUser()" >UnFollow</a>
                            <!--<a class="btn btn-success pull-right" ng-click="model.unFollow()" >Unfollow</a>-->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="follower in model.followerUsers">
                            <h1><a href="#!/user/profile/{{follower._id}}">{{follower.username}}</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
